body {
 max-width: 1600px;
  margin: 0 auto;
}

/* banner styling */
#banner-styling .banner {
background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("images/Banner\ Image.png");
  width: 82.5%;
  height: 600px;
  border-radius: 16px;
  margin: 0 auto;
  position: relative;
}
#banner-styling .banner .banner-text1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  align-items: center;
  position: absolute;
  margin: 200px 50% 300px 28%;
  width: 500px;
}
#banner-styling .banner .banner-text2 {
  width: 600px;
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  position: absolute;
  margin:250px 50% 300px 25%;
}
/* 60% discount styling */
#discount .offer {
  width: 50%;
  height: 600px;
  align-items: center;
  box-sizing: border-box;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
#discount .discount-text1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}
#discount .discount-text2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
}
#discount .discount-text3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 5px;
}
#discount .discount-img {
  width: 400px;
  height: 400px;
  margin-bottom: 0 auto;
}
/* welcome party styling */
#welcome .party {
  width: 82.5%;
  height: 500px;
  background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("images/Vectorrr.png");
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  background-color: ;

  ;
}
#welcome .party .party2 {
  text-align: left;
  box-sizing: border-box;
  margin: auto 0 auto 20px;
}
#welcome .party .party-text1 {
  width: 642px;
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
}
#welcome .party .party-text2 {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
#welcome .party .party-text3 {

  color: #fff;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
#welcome .party .party-img {
  width: 250px;
  height: 400px;
  margin: 70px 150px 40px 0;
}
/*  address section styling*/
#address .address-text {
  width: 82.5%;
  height: 400px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#address .address-text .address-text1 .span1 {
  color: #f00;
}
#address .address-text .address-text1 {
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
#address .address-text .address-btn {
  width: 153px;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
}
/* bonus mark section styling */
#bonus-mark .bonus {
  width: 82.5%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-bottom: 120px;
  
}

#bonus-mark .bonus .bonus1 {
  width: 33%;
  height: 100px;
  align-items: center;

}
#bonus-mark .bonus .bonus1 .bonus-text1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin: 0 auto;
}
#bonus-mark .bonus .bonus1 .bonus-text2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0;
  margin: 0px auto;
}
#bonus-mark .bonus .bonus1 .bonus-text3 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
#bonus-mark .bonus .bonus2 {
}
#bonus-mark .bonus .bonus2 .bonus-img1 {
  width: 28%;
  outline: 10px solid #f00;
  outline-offset: 20px;
  border-radius: 50%;
  margin: -90px 0px 150px -170px;
  position: absolute;
}
#bonus-mark .bonus .bonus3 {
  text-align: left;
  margin: 100px 0 0 0;
}
#bonus-mark .bonus .bonus3 .bonus3-text1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0;
}
#bonus-mark .bonus .bonus3 .bonus3-text2 {
  width: 200px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
/* holiday section styling */
#bonus-mark2 .holiday {
    width: 82.5%;
    height: 700px;
    margin: 0 auto;
    position: relative;
}
#bonus-mark2 .holiday .holiday-head .holiday-text1{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}
#bonus-mark2 .holiday .holiday-head .holiday-text2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 0;
}
#bonus-mark2 .holiday .holiday-head .holiday-text2 .holiday-text2-span{
    color: #F00;
}
#bonus-mark2 .holiday .holiday-head .holiday-text3{
    width: 600px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto;
}

#bonus-mark2 .holiday .holiday-foot  .img4{
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 99px 0 60px 954px;
}
#bonus-mark2 .holiday .holiday-foot  .img3{
    position:absolute;
    width: 100%;
    height: 100px;
    margin: 32% 0 0px 1px;
}
#bonus-mark2 .holiday .holiday-foot  .img2{
    position: absolute;
    width: 300px;
    margin: 100px 50px 0px 740px;  
}
#bonus-mark2 .holiday .holiday-foot  .img1{
    position: absolute;
    width: 500px;
    margin: 100px 0 20px 230px;
}

/* portfolio section styling */
#portfolio .portfolio-parent {
  margin: 0 auto;
  width: 82.5%;
  margin-bottom: 100px;
}
#portfolio .portfolio-parent .portfolio-child1 .portfolio-text1 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
}
#portfolio .portfolio-parent .portfolio-child1 .portfolio-text2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
}
#portfolio .portfolio-parent .portfolio-child1 .portfolio-text3 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
#portfolio .portfolio-parent .portfolio-child2 img {
  width: 400px;
  height: 400px;
}
#portfolio .portfolio-parent .portfolio-child2 .effect:hover{
  opacity: .5;
}
/* subscribe section styling */
#newsletter .container {
  width: 82.5%;
  height: 500px;
  background-color: rgba(255, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;
}
#newsletter .container .send {
  margin-top: 50px;
}
#newsletter .container .newsletter-text1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0;
}
#newsletter .container .newsletter-text2 {
  width: 700px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}
#newsletter .container .inp-btn {
  width: 500px;
  display: flex;
  position: relative;
}
#newsletter .container .inp-btn .sidebox{
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  width: 214px;
  height: 71.5px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  position: absolute;
  margin: 1.1px -4px -8px 358px;
}
#newsletter .container .inp-btn .fillbox {
  width: 648px;
  height: 72px;
  border-radius: 50px;
  background: #fff;
  position: absolute;
  box-sizing: border-box;
  padding-left: 20px;
  margin-left: -75px;
}
/* footer section styling */
footer{
  background: #070211;
  justify-content: space-between;
  bottom: 0; 
  position: relative;
  width: 100%;
  margin: 0 auto;
 }

 #footer-container {
  background: #070211;
  padding: 70px 100px;
   position: absolute;
   /* margin:0 -500px 0  -137px;  */
} 
 #footer-container .foot1 {
  width:100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer-container .foot2 {
  width:100%;
  height: 200px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
#footer-container .foot3 {
  width: 1320px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
#footer-container .foot1 p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
#footer-container .foot1 {
  
}
#foot .foot1 .sub-main {
  display: flex;
  flex-direction: column;
}
#footer-container .foot1 .sub-main .sub-sub {
  display: flex;
  justify-content: space-around;
  align-items: center; 
}
#footer-container .foot1 .sub-main .sub-sub img {
  width: 24px;
  height: 24px;
}
#footer-container .foot3 .foot-text1,
.foot-text2 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
} 
